body {
  background-attachment: fixed;
  background-image: url("/images/hansons.jpg");
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
